html,body {height:100%;
  font-family: 'PT Sans', sans-serif;
}
body > * {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.cover {
  background-image: url(../img/bg.jpg);
  height: 100%;
}
.less {
  background-image: url(../img/bg.jpg);
}
.shadow {
  box-shadow: -13px 13px 49px -17px #000;
}
.opaque-overlay {
  overflow: hidden;
  position: relative; 
}
.opaque-overlay > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.75);
}
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  //-webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  //-moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  //-ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  //box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border-bottom: 1px solid #ddd;
}
